<h1>All the groups</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Users Count</th>
  </tr>
  <% @groups.each do |group| %>
    <tr>
      <td><%= group.title %></td>
      <td><%= group.description %></td>
      <td><%= group.users.count %></td>
      <td><%= link_to 'Show', group_path(group) %></td>
      <td><%= link_to 'Add me to this group', group_add_user_path(group), method: :post %></td>
      <td><%= link_to 'Remove me from this group', group_remove_user_path(group), method: :post %></td>
      <td><%= link_to 'Edit', edit_group_path(group) %></td>
      <td><%= link_to 'Destroy', group_path(group),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'New group', new_group_path %>
<br><br>
