<br>
   <h1>welcome to the n.exchange</h1>
   <p>the next change is upon us</p>
   <table>
     <th> <h1>All Users</h1> </th>
     <th> <h1>All Groups</h1> </th>
     <th> <h1>All Projects</h1> </th>
     <tr>
      <td>
       <% @users.each do |user| %>
       <ul>
         <li><%=user.name %> </li>
       </ul>
       <% end %>
      </td>
      <td>
        <% @groups.each do |group| %>
        <ul>
          <li><%=group.title %> </li>
        </ul>
        <% end %>
      </td>
      <td>
      <% @projects.each do |project| %>
      <ul>
        <li><%=project.title %> | created by <%=project.creator %> | is a  <%=project.projectable_type %> project type </li>
      </ul>
      <% end %>
      </td>
     </tr>
   </table>
